@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-linkedin:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-link:before {
  content: "\e903";
}

._icon-telegram:before {
  content: "\e904";
}

._icon-github:before {
  content: "\eab0";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(rgb(32, 29, 61)), to(rgb(0, 0, 0)));
  background: linear-gradient(to right, rgb(32, 29, 61) 0%, rgb(0, 0, 0) 100%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title__lable {
  overflow: hidden;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  color: #656d72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transform: translate(0px, 140%);
      -ms-transform: translate(0px, 140%);
          transform: translate(0px, 140%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title__lable._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.title__lable::before {
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #d9d9d9;
}

.title__lable:not(:last-child) {
  margin-bottom: 0.6666666667em;
}

.title__value {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  -webkit-transform: translate(0px, 80%);
      -ms-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title__value._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}

.title__value span {
  color: #7e74f1;
}

.title__value_big {
  line-height: 1.25;
}

.text {
  overflow: hidden;
  line-height: 2;
  -webkit-transform: translate(0px, 25%);
      -ms-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
}

.social li {
  -webkit-transform: translate(2000%, 0);
      -ms-transform: translate(2000%, 0);
          transform: translate(2000%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social._watcher-view li {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.social._watcher-view li:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.social._watcher-view li:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.social._watcher-view li:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.social._watcher-view li:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.social._watcher-view li:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.social._watcher-view li:nth-child(6) {
  -webkit-transition: all 0.8s ease 1.2s;
  transition: all 0.8s ease 1.2s;
}

.social._watcher-view li:nth-child(7) {
  -webkit-transition: all 0.8s ease 1.4s;
  transition: all 0.8s ease 1.4s;
}

.social._watcher-view li:nth-child(8) {
  -webkit-transition: all 0.8s ease 1.6s;
  transition: all 0.8s ease 1.6s;
}

.social._watcher-view li:nth-child(9) {
  -webkit-transition: all 0.8s ease 1.8s;
  transition: all 0.8s ease 1.8s;
}

.social._watcher-view li:nth-child(10) {
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}

.social._watcher-view li:nth-child(11) {
  -webkit-transition: all 0.8s ease 2.2s;
  transition: all 0.8s ease 2.2s;
}

.social._watcher-view li:nth-child(12) {
  -webkit-transition: all 0.8s ease 2.4s;
  transition: all 0.8s ease 2.4s;
}

.social._watcher-view li:nth-child(13) {
  -webkit-transition: all 0.8s ease 2.6s;
  transition: all 0.8s ease 2.6s;
}

.social._watcher-view li:nth-child(14) {
  -webkit-transition: all 0.8s ease 2.8s;
  transition: all 0.8s ease 2.8s;
}

.social._watcher-view li:nth-child(15) {
  -webkit-transition: all 0.8s ease 3s;
  transition: all 0.8s ease 3s;
}

.social__link {
  font-size: 1.625rem;
}

.social__link::before {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: -webkit-gradient(linear, left top, right top, from(rgba(32, 29, 61, 0.85)), to(rgba(0, 0, 0, 0.85)));
  background: linear-gradient(to right, rgba(32, 29, 61, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.header__logo {
  z-index: 5;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__button {
  z-index: 10;
  border: 1px solid #f1f1f1;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item {
  text-align: center;
}

.menu__link {
  font-weight: 500;
  line-height: 1.1875;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
  padding-bottom: 0.25rem;
}

.menu__link::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  height: 2px;
  background-color: #7e74f1;
  width: 0;
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
  border-radius: 1.5625rem;
}

.menu__link._navigator-active {
  color: #7e74f1;
}

.menu__link._navigator-active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.footer__social .social__link {
  color: #656d72;
}

.footer__copy {
  color: #656d72;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  -webkit-transform: translate(0px, 60%);
      -ms-transform: translate(0px, 60%);
          transform: translate(0px, 60%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__copy._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.main-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section__container {
  padding-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.decor-main-section {
  max-width: 21rem;
  margin: 0 1.375rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.decor-main-section__box {
  position: relative;
  padding-bottom: 119.047619%;
  /* 400/336 */
}

.decor-main-section__box::after,
.decor-main-section__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
}

.decor-main-section__box::before {
  z-index: 1;
  border: 6px solid #7e74f1;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
          box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._watcher-view .decor-main-section__box::before {
  -webkit-transform: translate(-30px, 30px);
      -ms-transform: translate(-30px, 30px);
          transform: translate(-30px, 30px);
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.decor-main-section__box::after {
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(43, 39, 74)), to(rgb(0, 0, 0)));
  background: linear-gradient(to bottom, rgb(43, 39, 74) 0%, rgb(0, 0, 0) 100%);
  -webkit-box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
          box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
}

.decor-main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.decor-main-section__image img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  z-index: 3;
}

.portfolio {
  min-height: 100vh;
}

.portfolio__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.tabs-portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs-portfolio__title {
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.tabs-portfolio__title._tab-active {
  color: #7e74f1;
}

.tabs-portfolio__title._tab-active::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0rem;
  height: 2px;
  background-color: #7e74f1;
  width: 100%;
}

.tabs-portfolio__item {
  padding-top: 1.875rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
}

.item-project__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.375rem;
}

.item-project__box {
  position: relative;
}

.item-project__box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  z-index: 1;
  border: 6px solid #7e74f1;
  -webkit-box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
          box-shadow: 0 5px 10px rgba(126, 116, 241, 0.3);
}

.item-project__image-ibg {
  padding-bottom: 66%;
  z-index: 2;
}

.item-project__image-ibg img {
  border-radius: 1rem;
  -webkit-box-shadow: 0 5px 10px rgba(126, 116, 241, 0.7);
          box-shadow: 0 5px 10px rgba(126, 116, 241, 0.7);
}

.item-project__image-ibg img._watcher-view {
  -webkit-transform: translate(30px, -30px);
      -ms-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.content-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

.content-project__title {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-project__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.content-project__text {
  color: rgb(217, 217, 217);
  letter-spacing: 0.1rem;
  line-height: 1.25;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-project__text._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.content-project__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-project__actions._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.content-project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-project__link::before {
  font-size: 0.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.experience {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__container {
  width: 100%;
  padding-top: 2.5rem;
}

.experience__items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.item-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-experience__icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-experience__icon img {
  width: 80px;
  height: 80px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-experience__icon img._watcher-view {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.item-experience__label {
  -webkit-transform: translate(0px, -120%);
      -ms-transform: translate(0px, -120%);
          transform: translate(0px, -120%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-experience__label._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}

.education {
  min-height: 100vh;
}

.education__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3.75rem;
}

.education__body {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.timeline {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0.15625em;
  left: 0.75rem;
  background-color: #f1f1f1;
  z-index: 2;
}

.timeline__item {
  padding-left: 2.5rem;
  position: relative;
}

.timeline__item::before {
  content: "";
  z-index: 3;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.15625em;
  left: 0.25rem;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.timeline__item:last-child::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 1px;
  height: 100%;
  bottom: -0.15625em;
  left: 0.75rem;
  background-color: #ffffff;
}

.timeline__title {
  display: block;
  font-weight: 500;
  line-height: 1.25;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.timeline__title._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.timeline__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.timeline__text {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656d72;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.timeline__text._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}

.timeline__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.timeline__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.timeline__text a::before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding-top: 0.125rem;
  font-size: 0.625rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.timeline__date {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.timeline__date._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.content-education {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.content-education__image-ibg_contain img {
  -webkit-transform: translate(0px, 25%);
      -ms-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-education__image-ibg_contain img._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media (min-width: 29.99875em) {
  .experience__items {
    grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .decor-main-section {
    width: 100%;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .item-project__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .item-project__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .item-project__picture_right {
    margin-right: 1.875rem;
  }

  .education__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content-education__image-ibg_contain {
    padding-bottom: 60%;
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (min-width: 76.875em) {
  .title__value {
    font-size: 2.25rem;
  }

  .title__value_big {
    font-size: 2.75rem;
  }

  .social {
    -webkit-column-gap: 2.125rem;
       -moz-column-gap: 2.125rem;
            column-gap: 2.125rem;
  }

  .footer__container {
    padding-top: 2.5rem;
  }

  .footer__container {
    padding-bottom: 2.5rem;
  }

  .main-section {
    margin-bottom: 6.25rem;
  }

  .main-section__container {
    padding-bottom: 2.5rem;
  }

  .main-section__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .main-section__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .portfolio {
    margin-bottom: 6.25rem;
  }

  .portfolio__header {
    margin-bottom: 3.75rem;
  }

  .tabs-portfolio__navigation {
    gap: 3.75rem;
  }

  .tabs-portfolio__navigation {
    margin-bottom: 5rem;
  }

  .tabs-portfolio__item {
    row-gap: 6.25rem;
  }

  .experience__container {
    padding-bottom: 8.75rem;
  }

  .experience__body {
    margin-bottom: 5rem;
  }

  .education {
    margin-top: 7.5rem;
  }

  .education__title {
    margin-bottom: 5rem;
  }

  .timeline {
    gap: 4rem;
  }
}

@media (min-width: 75em) {
  .header__container {
    min-height: 3.75rem;
  }
}

@media (max-width: 50em) {
  .header__container {
    min-height: 2.5rem;
  }
}

@media (max-width: 20em) {
  .title__value {
    font-size: 1.75rem;
  }

  .title__value_big {
    font-size: 2.25rem;
  }

  .social {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .main-section {
    margin-bottom: 1.25rem;
  }

  .main-section__container {
    padding-bottom: 1.25rem;
  }

  .main-section__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .main-section__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .portfolio {
    margin-bottom: 0.0000000625rem;
  }

  .portfolio__header {
    margin-bottom: 1.25rem;
  }

  .tabs-portfolio__navigation {
    gap: 1.25rem;
  }

  .tabs-portfolio__navigation {
    margin-bottom: 2.5rem;
  }

  .tabs-portfolio__item {
    row-gap: 3.75rem;
  }

  .experience__container {
    padding-bottom: 1.25rem;
  }

  .experience__body {
    margin-bottom: 3.75rem;
  }

  .education {
    margin-top: 3.75rem;
  }

  .education__title {
    margin-bottom: 1.875rem;
  }

  .timeline {
    gap: 2.5rem;
  }
}

@media (max-width: 47.99875em) {
  .header__button {
    padding: 0.5rem 0.9375rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(43, 39, 74)), to(rgb(0, 0, 0)));
    background: linear-gradient(to top, rgb(43, 39, 74) 0%, rgb(0, 0, 0) 100%);
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.75rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(6, 6, 10)), to(rgb(0, 0, 0)));
    background: linear-gradient(to top, rgb(6, 6, 10) 0%, rgb(0, 0, 0) 100%);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    color: #fff;
    font-size: 2.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-section__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 1.875rem;
  }

  .decor-main-section {
    max-width: none;
  }

  .item-project__columns_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .item-project__columns_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .item-project__picture {
    margin-right: 1.875rem;
  }

  .content-education__image-ibg_contain {
    padding-bottom: 70%;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .decor-main-section {
    width: 15.375rem;
  }
}

@media (max-width: 29.99875em) {
  .experience__items {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem )) {
    .title__value {
      font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem )) {
    .title__value {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .title__value_big {
      font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .title__value_big {
      font-size: calc(2.25rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem )) or (column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem ))) {
    .social {
      -webkit-column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem );
         -moz-column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem );
              column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem )) or (column-gap: clamp( 1.5625rem , 1.3646978022rem  +  0.989010989vw , 2.125rem ))) {
    .social {
      -webkit-column-gap: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .main-section {
      margin-bottom: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .main-section {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__container {
      padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__container {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main-section__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main-section__title:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.0000000625rem , -2.1978021133rem  +  10.9890108791vw , 6.25rem )) {
    .portfolio {
      margin-bottom: clamp( 0.0000000625rem , -2.1978021133rem  +  10.9890108791vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -2.1978021133rem  +  10.9890108791vw , 6.25rem )) {
    .portfolio {
      margin-bottom: calc(0.0000000625rem + 6.2499999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
    .portfolio__header {
      margin-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
    .portfolio__header {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
    .tabs-portfolio__navigation {
      gap: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
    .tabs-portfolio__navigation {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .tabs-portfolio__navigation {
      margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .tabs-portfolio__navigation {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports ( row-gap: clamp( 3.75rem , 2.8708791209rem  +  4.3956043956vw , 6.25rem )) {
    .tabs-portfolio__item {
      row-gap: clamp( 3.75rem , 2.8708791209rem  +  4.3956043956vw , 6.25rem );
    }
}

@supports not ( row-gap: clamp( 3.75rem , 2.8708791209rem  +  4.3956043956vw , 6.25rem )) {
    .tabs-portfolio__item {
      row-gap: calc(3.75rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.3873626374rem  +  13.1868131868vw , 8.75rem )) {
    .experience__container {
      padding-bottom: clamp( 1.25rem , -1.3873626374rem  +  13.1868131868vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.3873626374rem  +  13.1868131868vw , 8.75rem )) {
    .experience__container {
      padding-bottom: calc(1.25rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .experience__body {
      margin-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .experience__body {
      margin-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
    .education {
      margin-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
    .education {
      margin-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .education__title {
      margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .education__title {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .timeline {
      gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .timeline {
      gap: calc(2.5rem + 1.5 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 50em) and (max-width: 75em) {
@supports (min-height: clamp( 2.5rem , 0.0000000625rem  +  5vw , 3.75rem )) {
    .header__container {
      min-height: clamp( 2.5rem , 0.0000000625rem  +  5vw , 3.75rem );
    }
}

@supports not (min-height: clamp( 2.5rem , 0.0000000625rem  +  5vw , 3.75rem )) {
    .header__container {
      min-height: calc(2.5rem + 1.25 * (100vw - 50rem) / 25);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
              column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .decor-main-section {
    width: 21rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-main-section {
      width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem );
    }
}

@supports not (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-main-section {
      width: calc(15.375rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .social__link:hover {
    color: #7e74f1;
  }

  .social__link:hover::before {
    -webkit-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
            transform: translate(0px, -4px);
  }

  .header__button:hover {
    color: #ffffff;
    background-color: #7e74f1;
    border: 1px solid #7e74f1;
    -webkit-box-shadow: 0 0 10px rgba(126, 116, 241, 0.7);
            box-shadow: 0 0 10px rgba(126, 116, 241, 0.7);
  }

  .menu__link:hover {
    color: #7e74f1;
  }

  .menu__link:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  .footer__social .social__link:hover {
    color: #7e74f1;
  }

  .tabs-portfolio__title:hover {
    color: #7e74f1;
  }

  .content-project__link:hover {
    color: #7e74f1;
    border: 1px solid #7e74f1;
    -webkit-box-shadow: 0 0 10px rgba(126, 116, 241, 0.7);
            box-shadow: 0 0 10px rgba(126, 116, 241, 0.7);
  }

  .content-project__link:hover::before {
    -webkit-transform: translate(3px, 0px);
        -ms-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
  }

  .timeline__text:hover a {
    color: #7e74f1;
  }

  .timeline__text:hover a::before {
    -webkit-transform: translate(4px, 0px);
        -ms-transform: translate(4px, 0px);
            transform: translate(4px, 0px);
  }
}