// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
.title {
  
  // .title__lable
  &__lable {
    overflow: hidden;
    font-weight: 500;
    font-size: rem(12);
    line-height: math.div(24, 12);
    letter-spacing: em(7.5, 12);
    text-transform: uppercase;
    color: $greyColor;
    display: flex;
    align-items: center;
    gap: rem(16);
    transform: translate(0px, 140%);
    opacity: 0;
    transition: all 0.3s ease 0s;
    &._watcher-view {
      transform: translate(0px, 0);
      opacity: 1;
      transition: all 1s ease 0.2s;
    }
    &::before {
      content: '';
      width: rem(16);
      height: rem(2);
      background-color: #d9d9d9;
    }
    &:not(:last-child) {
      margin-bottom: em(8, 12);
    }
  }
  // .title__value
  &__value {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue('font-size', 36, 28);
    line-height: math.div(45, 36);
    transform: translate(0px, 80%);
    opacity: 0;
    transition: all 0.3s ease 0s;
    &._watcher-view {
      transform: translate(0px, 0);
      opacity: 1;
      transition: all 1s ease 0.4s;
    }
    span {
      color: $violetColor;
    }
    // .title__value_big
    &_big {
      @include adaptiveValue('font-size', 44, 36);
      line-height: math.div(55, 44);
    }
  }
}
//========================================================================================================================================================
.text {
  overflow: hidden;
  line-height: math.div(32, 16);
  transform: translate(0px, 25%);
  opacity: 0;
  transition: all 0.3s ease 0s;
  &._watcher-view {
    transform: translate(0px, 0);
    opacity: 1;
    transition: all 1s ease 0.6s;
  }
  p {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}
//========================================================================================================================================================
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: rem(5);
  @include adaptiveValue('column-gap', 34, 25);
  li {
    transform: translate(2000%, 0);
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  &._watcher-view  {
    li {
      transform: translate(0px, 0);
      opacity: 1;
      @for $var from 1 to 16 {
        $delay: $var * 0.2;
        &:nth-child(#{$var}) {
          @if $var==1 {
            transition: all 0.8s ease 0s;
          } @else {
            transition: all 0.8s ease #{$delay + s};
          }
        }
      }
    }
  }
  // .social__link
  &__link {
    font-size: rem(26);
    &::before{
      transition: all 0.4s ease 0s;
    }
    
    @media (any-hover: hover) {
      &:hover {
        color: $violetColor;
        &::before{
          transform: translate(0px,-4px);
        }
        
      }
    }
  }
}
